{% extends 'base.html'  %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block content %}

<body>
    <section class="s1">
        <div class = "main-container">
            <div class = "greeting-wrapper">
            <h1>Hello! My name is Gabriel Dominic A. Miranda</h1>
           </div>

            <div class="intro_wrapper">


    <div class="left-column">
        <img id="profile_pic" src="{% static '/image/Profile.jpg' %}" alt="Profile Picture">
    </div>

    <div class="right-column">
        <div id="preview">
            <div id = "corner-tl" class = "corner"></div>
            <h3>What I Do</h3>
            <p>I am a Computer Engineering student with dreams of becoming a web developer. I am continuously polishing my skills in order to be successful in the future. </p>
            <div id = "corner-br" class = "corner"></div>
        </div>
    </div>
</div>


         </div>
        </div>
        </div>
    </section>



<section class="s2">
        <div class = "main-container">
            <div class = "about-wrapper">
                <div class = "about-me">
                    <h4> More about me</h4>
                    <p>I am a second-year college student taking up Computer Engineering. I am currently studying at Holy Angel University,
            section CPE-201.</p>
                    <p> While still inexperienced in most things, I am continuously learning and applying my knowledge not only to broaden my horizons,
                    but to apply what I have learned in coding projects such as this very portfolio that you are viewing.</p>
                </div>

                <hr>
                <h4>Current skills (Terms and Conditions may apply) </h4>
                <div id = "skill"> </div>
                <ul>
                    <li>HTML</li>
                    <li>Python</li>
                    <li>C++</li>
                    <li>Django</li>
                </ul>
            </div>

        </div>
    </section>

{% endblock %}



```